{% include header.snippet %}

    <!--<a href="https://github.com/wuxu92/wuxu92.github.io" style="position: absolute; top: 0; right: 0; border: 0; z-index:99;_display:none;"  target="_blank"><img src="{{ site.repo }}/images/forkme.png" alt="Fork me on GitHub"></a>-->
    <style type="text/css" media="screen">
        .home-menu { left: 30px; }
        .home-menu a { padding: 0 20px; margin-left: 20px;}
        .home-menu-icon, .home-follow {
            transition: all .5s ease-in-out;
            margin-right: .3em;
        }
        .home-menu-icon:hover {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1)
        }
        .home-follow:hover {
            -webkit-transform: scale(1.1);
                    transform: scale(1.1)
        }
    </style>
    <div class="home-menu" itemscope itemtype="http://schema.org/Person">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/" itemprop="name" style="background: #D84D3A">首页</a>
            <a class="home-menu-icon" href="/about.html" target="_blank" itemprop="name" style="background: #E5DB82; color: #111; margin-left: 12px;">关于</a>
            <a class="home-follow" href="#" title="Contact Me" style="background: #049DC4; margin-left: 14px;">+</a>
        </div>
        <div class="home-contact">
            <a href="http://www.facebook.com/wuxu92" target="_blank" itemprop="follows" style="margin-left:-5px;"><img src="/images/facebook-32.png" alt="facebook" width="32"/></a>
            <a href="mailto:wuxu92@gmail.com" itemprop="email" target="_blank" style="text-align:right"><img src="/images/gmail-32.png" alt="send mail to wuxu92" width="32"/></a>
            <a href="http://weibo.com/u/2446209193" itemprop="follows" target="_blank" style="text-align:right;margin-left:10px"><img src="/images/weibo-32.ico" alt="sina weibo" width="32"></a>
        </div>
    </div>

    {{ content }}

 
{% include footer.snippet %}
